/* COLORS LIGTH */
/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #F0E9E5 !important;
  padding: 80px 0px 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #F0E9E5;
  font-family: "Lato", sans-serif;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    height: 70px;
  }
}
@media (max-width: 767px) {
  .header {
    height: 70px;
  }
}
.header .nav {
  display: flex;
  justify-content: space-between;
}
.header .nav__a {
  padding: 8px 12px;
  color: #1a1a1a;
  border-radius: 3px;
  font-weight: 600;
}
.header .nav__a:hover {
  background-color: #cbc3be;
  transition: 0.5s;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .nav__a:hover {
    background: none;
    color: #037185;
  }
}
@media (max-width: 767px) {
  .header .nav__a:hover {
    background: none;
    color: #037185;
  }
}
.header .nav__logo {
  color: #1a1a1a;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .nav__logo {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .header .nav__logo {
    padding: 0 20px;
  }
}
.header .nav--activate {
  background-color: #cbc3be;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .nav--activate {
    background: none;
    color: #037185;
  }
}
@media (max-width: 767px) {
  .header .nav--activate {
    background: none;
    color: #037185;
  }
}
.header .nav__ul {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .nav__ul {
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #F0E9E5;
    position: fixed;
    left: 0;
    top: 70px;
    width: 100%;
    padding: 20px 0px;
    height: calc(100% - 70px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
}
@media (max-width: 767px) {
  .header .nav__ul {
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #F0E9E5;
    position: fixed;
    left: 0;
    top: 70px;
    width: 100%;
    padding: 20px 0px;
    height: calc(100% - 70px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
}
.header .nav__li {
  font-size: 18px;
  margin: 0 10px;
  text-transform: uppercase;
  width: max-content;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .nav__li {
    margin: 20px 0;
  }
}
@media (max-width: 767px) {
  .header .nav__li {
    margin: 20px 0;
  }
}
.header .nav__toggle {
  color: #1a1a1a;
  background: none;
  border: none;
  font-size: 25px;
  padding: 0 20px;
  display: none;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .nav__toggle {
    display: block;
  }
}
@media (max-width: 767px) {
  .header .nav__toggle {
    display: block;
  }
}
.header .nav__ul--visible {
  left: 0;
}

.hero {
  background: url(../img/backgroud_detalle.webp) no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 60px 0 60px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    background: url(../img/backgroud_detalle_tablet.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0 100px;
  }
}
@media (max-width: 767px) {
  .hero {
    background: url(../img/backgroud_detalle_tablet.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0 100px;
  }
}
.hero__row {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero__row {
    text-align: center;
    gap: 60px;
  }
}
@media (max-width: 767px) {
  .hero__row {
    text-align: center;
    gap: 60px;
  }
}
.hero__h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 85px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .hero__h1 {
    font-size: 48px;
  }
}
.hero__button {
  font-family: "Lato", sans-serif;
  padding: 16px 24px;
  font-size: 24px;
  border-radius: 6px;
  border: 2px solid #1a1a1a;
  background: #F0E9E5;
}
.hero__button:hover {
  color: #ffffff;
  background: #1a1a1a;
}
@media (max-width: 767px) {
  .hero__button {
    font-size: 14px;
  }
}
.hero__icon {
  color: #FF0000;
}
.hero__img {
  width: 654px;
}

.banner {
  background: linear-gradient(90deg, rgb(3, 115, 134) 0%, rgb(3, 141, 144) 60%);
  height: 210px;
  padding: 65px 0;
}
@media (max-width: 767px) {
  .banner {
    height: 110px;
  }
}
.banner__container {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.banner__h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 65px;
  color: #fefefe;
  white-space: nowrap;
  padding: 0 40px;
  animation: RightToLeft 10s infinite linear;
}
@media (max-width: 767px) {
  .banner__h2 {
    font-size: 36px;
  }
}
@keyframes RightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=style.css.map */
