.banner{
    background: $gradiant;
    height: 210px;
    padding: 65px 0;
    @include mobile{
        height: 110px;
        padding: 32px 0;
    }

    &__container{
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
    }
    &__h2{
        color: $secundary-color;
        white-space: nowrap;
        padding: 0 40px;
        animation: RightToLeft 10s infinite linear;
        text-transform: uppercase;
        @include mobile{
            font-size: 36px;
        }
    }

    @keyframes RightToLeft {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }
}