@import 'mediaquery';

/* COLORS LIGTH */
$primary-color: #037185;
$secundary-color: linear-gradient(90deg, rgba(3,115,134,1) 0%, rgba(3,141,144,1) 60%);
$base-uno: #F0E9E5;
$base-dos: #1a1a1a;

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$primary-font: 'Bebas Neue', sans-serif;
$secundary-font: 'Lato', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $secundary-font;
}

body{
    background-color: $base-uno;
}

ul{
    margin-top: 0px;
    margin-bottom: 0px;
}

li{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}